* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.language-list-container {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;
}

.heading {
  color: #1e2a3b;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
